@import url('style.css');


h3 {
  font-size: var(--size-15);
}
label {
  font-size: var(--size-14);
}

header .hero-section {
  width: 100%;
  height: 500px;
  background-color: var(--bg-color);
  background-size: cover;
  position: relative;
  animation: hero-slider 20s linear infinite;
}
main .contact-section {
  padding-top: var(--size-150);
  padding-bottom: var(--size-150);
}
.overlay-info p {
  color: var(--white-color);
}
.contact-wrapper .upper-info {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 200px;
}
.upper-info > div {
  text-align: center;
}
.contact-phone div {
  width: var(--size-80);
  background-color: var(--bg-color);
  padding: var(--size-20);
  margin: auto;
  border-radius: 8px;
}
.contact-phone div i {
  font-size: var(--size-25);
  color: var(--gold-color);
}
.contact-phone h3 {
  margin-top: var(--size-20);
}
.contact-email div {
  width: var(--size-80);
  background-color: var(--bg-color);
  padding: var(--size-20);
  margin: auto;
  border-radius: 8px;
}
.contact-email div i {
  font-size: var(--size-25);
  color: var(--gold-color);
}
.contact-email h3 {
  margin-top: var(--size-20);
}
.contact-address,
.contact-email,
.contact-phone {
  max-width: 200px;
}
.contact-address div {
  width: var(--size-80);
  background-color: var(--bg-color);
  padding: var(--size-20);
  margin: auto;
  border-radius: 8px;
}
.contact-address div i {
  font-size: var(--size-25);
  color: var(--gold-color);
}
.contact-address h3 {
  margin-top: var(--size-20);
}
.container .contact-form {
  margin-top: var(--size-100);
  padding: var(--size-35) var(--size-10);
  border: 1px solid var(--bg-color);
  box-shadow: 0 0 3px rgba(60, 72, 88, 0.15);
  border-radius: 8px;
}
.contact-form .form {
  width: 100%;
  padding: 5px;
}
.form h2 {
  margin-bottom: var(--size-30);
}
.form .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* flex-wrap: wrap; */
}
.flex .firstname {
  position: relative;
}
.firstname label sup {
  font-size: 8px;
  color: red;
}
.firstname input {
  width: 100%;
  resize: both;
  margin-top: 5px;
  height: var(--size-35);
  padding: 0 var(--size-30);
  font-size: var(--size-14);
  box-shadow: none;
  background-color: #fff;
  border: 1px solid #dee2e6;
  color: #3c4858;
  border-radius: 6px;
  transition: all 0.5s ease;
}
.firstname i {
  position: absolute;
  top: 37px;
  left: 5px;
}
.flex .email {
  position: relative;
}
.email label sup {
  font-size: 8px;
  color: red;
}
.email input {
  width: 100%;
  resize: both;
  margin-top: 5px;
  height: var(--size-35);
  padding: 0 var(--size-30);
  font-size: var(--size-14);
  box-shadow: none;
  background-color: #fff;
  border: 1px solid #dee2e6;
  color: #3c4858;
  border-radius: 6px;
  transition: all 0.5s ease;
}
.email i {
  position: absolute;
  top: 37px;
  left: 5px;
}
.form .subject {
  display: block;
  position: relative;
  margin-top: var(--size-20);
}
.subject input {
  width: 100%;
  margin-top: 5px;
  height: var(--size-35);
  padding: 0 var(--size-30);
  font-size: var(--size-14);
  box-shadow: none;
  background-color: #fff;
  border: 1px solid #dee2e6;
  color: #3c4858;
  border-radius: 6px;
  transition: all 0.5s ease;
}
.subject i {
  position: absolute;
  top: 37px;
  left: 5px;
}
.form .comment {
  display: block;
  position: relative;
  margin-top: var(--size-20);
}
.comment label sup {
  font-size: 8px;
  color: red;
}
.comment textarea {
  width: 100%;
  min-height: var(--size-150);
  resize: both;
  margin-top: 5px;
  height: var(--size-35);
  padding: 0 var(--size-30);
  font-size: var(--size-14);
  box-shadow: none;
  background-color: #fff;
  border: 1px solid #dee2e6;
  color: #3c4858;
  border-radius: 6px;
  transition: all 0.5s ease;
}
.comment i {
  position: absolute;
  top: 37px;
  left: 5px;
}
.form button {
  width: 100%;
  height: var(--size-60);
  margin-top: var(--size-20);
  box-shadow: none;
  background-color: var(--gold-color);
  border: 1px solid #dee2e6;
  color: #3c4858;
  border-radius: 6px;
  transition: all 0.5s ease;
}