@import url('style.css');
@import url('default.css');
@import url('responsive.css');

h2 {
  font-size: 18px;
}
h3 {
  font-size: 15px;
}
label {
  font-size: 14px;
}

header .hero-section {
  width: 100%;
  height: 400px;
  background-color: var(--bg-color);
  background-size: cover;
  position: relative;
  animation: hero-slider 20s linear infinite;
}
main .contact-section {
  padding-top: 150px;
  padding-bottom: 150px;
}
.overlay-info p {
  color: var(--white-color);
}
.container .upper-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.upper-info > div {
  text-align: center;
}
.contact-phone div {
  width: 80px;
  background-color: var(--bg-color);
  padding: 20px;
  margin: auto;
  border-radius: 8px;
}
.contact-phone div i {
  font-size: 25px;
  color: var(--gold-color);
}
.contact-phone h3 {
  margin-top: 20px;
}
.contact-email div {
  width: 80px;
  background-color: var(--bg-color);
  padding: 20px;
  margin: auto;
  border-radius: 8px;
}
.contact-email div i {
  font-size: 25px;
  color: var(--gold-color);
}
.contact-email h3 {
  margin-top: 20px;
}
.contact-address div {
  width: 80px;
  background-color: var(--bg-color);
  padding: 20px;
  margin: auto;
  border-radius: 8px;
}
.contact-address div i {
  font-size: 25px;
  color: var(--gold-color);
}
.contact-address h3 {
  margin-top: 20px;
}
.container .contact-form {
  margin-top: 100px;
  padding: 35px 10px;
  border: 1px solid var(--bg-color);
  box-shadow: 0 0 3px rgba(60, 72, 88, 0.15);
  border-radius: 8px;
}
.contact-form .form {
  width: 100%;
  padding: 5px;
}
.form h2 {
  margin-bottom: 30px;
}
.form .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.flex .firstname {
  position: relative;
}
.firstname label sup {
  font-size: 8px;
  color: red;
}
.firstname input {
  width: 100%;
  resize: both;
  margin-top: 5px;
  height: 35px;
  padding: 0 30px;
  font-size: 14px;
  box-shadow: none;
  background-color: #fff;
  border: 1px solid #dee2e6;
  color: #3c4858;
  border-radius: 6px;
  transition: all 0.5s ease;
}
.firstname i {
  position: absolute;
  top: 37px;
  left: 5px;
}
.flex .email {
  position: relative;
}
.email label sup {
  font-size: 8px;
  color: red;
}
.email input {
  width: 100%;
  resize: both;
  margin-top: 5px;
  height: 35px;
  padding: 0 30px;
  font-size: 14px;
  box-shadow: none;
  background-color: #fff;
  border: 1px solid #dee2e6;
  color: #3c4858;
  border-radius: 6px;
  transition: all 0.5s ease;
}
.email i {
  position: absolute;
  top: 37px;
  left: 5px;
}
.form .subject {
  display: block;
  position: relative;
  margin-top: 20px;
}
.subject input {
  width: 100%;
  margin-top: 5px;
  height: 35px;
  padding: 0 30px;
  font-size: 14px;
  box-shadow: none;
  background-color: #fff;
  border: 1px solid #dee2e6;
  color: #3c4858;
  border-radius: 6px;
  transition: all 0.5s ease;
}
.subject i {
  position: absolute;
  top: 37px;
  left: 5px;
}
.form .comment {
  display: block;
  position: relative;
  margin-top: 20px;
}
.comment label sup {
  font-size: 8px;
  color: red;
}
.comment textarea {
  width: 100%;
  min-height: 150px;
  resize: both;
  margin-top: 5px;
  height: 35px;
  padding: 0 30px;
  font-size: 14px;
  box-shadow: none;
  background-color: #fff;
  border: 1px solid #dee2e6;
  color: #3c4858;
  border-radius: 6px;
  transition: all 0.5s ease;
}
.comment i {
  position: absolute;
  top: 37px;
  left: 5px;
}
.form button {
  width: 100%;
  height: 60px;
  margin-top: 20px;
  box-shadow: none;
  background-color: var(--gold-color);
  border: 1px solid #dee2e6;
  color: #3c4858;
  border-radius: 6px;
  transition: all 0.5s ease;
}